.main-love-music {
    padding:100px 0;
}
.main-love-music .section-title {
    margin-bottom:80px;
}

@media only screen and (max-width:860px) {
    .main-love-music .box {
        text-align: center;
        margin:0 auto;
    }
}